body{
	font-family: helvetica;
	background-color: #E7D8CC
	
}

div {
    display: block;
    border-radius: 15px;
    background-color: #CFDDDD;
}
 
#header {
	height: 2em;
}

#work {
	

}
 
#education {
	
    
}
 
#interests {
	
    
}
 
#contact {
	

}
#references {
	

}
