body{
	font-family: helvetica;
	background-color: #E7D8CC
	
}

div {
    display: block;
    border-radius: 15px;
    background-color: #CFDDDD;

}

h3 {
	font-family: courier;
	background-color: #CFDDDD;
	border-radius: 15px;

}

p {
	font-family: helvetica;
}
 
#header {

}

#work {
	

}
 
#education {
	
    
}
 
#interests {
	
    
}
 
#contact {
	

}
#references {
	

}
